/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    /* border: 1px solid red; */
}

/* Body */
body{
    font-family: 'Roboto', sans-serif;
}

/* Common */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
img{
    width: 100%;
}
i{
    margin-right: 2%;
}
section{
    margin: 15% 0;
}
.col{
    float: left;
}
.row{
    display: block;
    width: 100%;
}
.container{
    width: 70%;
    margin: 0 auto;
}
.title {
    vertical-align: middle;
    margin-bottom: 3%;
}
.title h1{
    font-size: 75px;
    line-height: 90px;
}
.title h2{
    font-size: 45px;
    line-height: 70px;
}

/* Buttons */
nav .button{
    padding: 7px 20px;
    font-size: 13px;
}

.button{
    text-decoration: none;
    padding: 2% 5%;
}
.blue{
    background-color: #0061ff;
    color: white;
    transition: 2s;
}
.white{
    background-color: white;
    color: black;
    border: 1px solid #2d2d2d;
}
.buttons-container{
    margin-top: 5%;
    margin-bottom: 5%;
}
.circle-btn{
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid #2d2d2d;
    margin-right: 3px;
}

/* Animations */
.blue:hover{
    background-color: cyan;
}

/* Navbar */
nav{
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: white;
    color: #2d2d2d;
}
nav .col{
    width: 50%;
}
nav .col:nth-of-type(2){
    text-align: right;
}
nav ul{
    list-style: none;
}
nav li{
    display: inline-block;
    text-align: center;
    padding: 3% 5%;
}
nav li img{
    vertical-align: middle;
}
nav li a{
    text-decoration: none;
    vertical-align: middle;
    color: inherit;
    font-weight: inherit;
}

/* Header */
header{
    position: relative;
    top: 50px;
    left: 0;
    padding: 5% 10%;
    background-color: #b4d0e7;
}
header .col img{
    position: absolute;
    width: 55%;
}
header .col{
    width: 30%;
}
header .col:nth-of-type(2){
    width: 70%;
}
header i{
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 30px;
}
/* Main */
main{
    background-color: white;
    margin-top: 20%;
}

/* Main Invoicing */
.invoicing{
    margin: 3% 0;
}
.payplan{
    margin-bottom: 3%;
}
.payplan-choose span{
    width: fit-content;
    vertical-align: middle;
    margin-right: 1%;
}
.payplan-choose{
    display: inline;
}


/* Main Payplan Columns */
.payplan.clearfix .col{
    width: calc((100% / 3) - 2%);
    margin: auto;
}
.payplan.clearfix .col:nth-of-type(2){
    margin: 0 3%;
}
.payplan.clearfix .col > *{
    border: 1px solid #e8e8ea;
    padding: 10%;
}

/* Main Payplan Columns -> Text Format */
.payplan-details span{
    display: block;
}
main .payplan.clearfix .payplan-name{
    text-align: center;
    padding: 2% 0;
    border-bottom-style: none;
}
main .payplan.clearfix .payplan-name{
    text-align: center;
    padding: 2% 0;
    border-bottom-style: none;
}
main .payplan.clearfix .payplan-details h3{
    font-size: 30px;
    margin-bottom: 7%;
}
main .payplan.clearfix .payplan-details .price{
    margin-bottom: 3%;
    font-weight: bold;
}
main .payplan.clearfix .payplan-details .time{
    color: #7e8c97;
    margin-bottom: 15%;
}
main .trynow{
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 7%;
}
.functions-list::before {
	display: block;
	content: '';
	width: 30%;
	height: 1px;
	background-color: #e8e8ea;
	margin: 20% 0;
}

/* Main Payplan Lists */
main .payplan.clearfix .fa-ul{
    margin-left: 0;
    padding-left: 8%;
    margin-bottom: 20%;
}
main .payplan.clearfix .hotpoints{
    height: 400px;
}
main .payplan.clearfix .fa-ul li,
main .payplan.clearfix .functions-list > *{
    margin-bottom: 10%;
}
main .payplan.clearfix .fa-ul li .fa-check{
    color: #0061ff;
}

/* Enterprise */
main .payplan.enterprise .col{
    width: 70%;
}
main .payplan.enterprise .col:nth-of-type(2){
    width: 30%;
}
main .payplan.enterprise > *{
    border: 1px solid #e8e8ea;
}
main .payplan.enterprise .payplan-name{
    text-align: center;
    padding: 1% 0;
}
main .payplan.enterprise .clearfix{
    padding: 3%;
}
main .payplan.enterprise .clearfix h3{
    font-size: 30px;
    margin-bottom: 3%;
}
main .payplan.enterprise .clearfix h4{
    font-size: 18px;
    margin-bottom: 3%;
}
main .payplan.enterprise .clearfix p{
    font-size: 14px;
}

/* Find Partner */
main .partner .col{
    width: 50%;
}
main .partner .col.text{
    padding: 4%;
}
main .partner .col h3{
    font-size: 30px;
    margin-bottom: 5%;
}
main .partner .col p{
    font-weight: 400;
    margin-bottom: 10%;
}

/* Dropbox Business */
main .dropbox-business .row .col{
    width: calc((100% / 3) - 2%);
    margin: auto;
    margin-bottom: 5%;
}
main .dropbox-business .row .col:nth-of-type(2){
    margin: 0 3%;
}
main .dropbox-business .row .col h3{
    font-size: 30px;
    margin-bottom: 5%;
}